<!doctype html>
<html>
  <%= partial "head" %>

  <body class="<%= page_classes %>">
    <%= partial "header" %>

    <div class="main container">
      <%= yield %>
    </div>

    <%= partial "footer" %>
  </body>
</html>
