<!doctype html>
<html>
  <div class="wrapper">
    <%= partial "head" %>

    <body class="<%= page_classes %>">
      <%= partial "header" %>

      <div class="main container">
        <%= yield %>
      </div>

      <%= partial "footer" %>
    </body>
  </div>
</html>
