---
layout: about_layout
---

<h2>Myths and Facts</h2>

<ul class="myths">
  <li>
    <div class="myth">
      Myth: Habitat for Humanity gives houses away to poor people.
    </div>
    <div class="fact">
      <strong>Fact:</strong> Habitat for Humanity offers homeownership opportunities to families who are unable to obtain conventional house financing. Generally, this includes those whose income is 30 to 50 percent of the area's median income. In most cases, prospective Habitat homeowner families make a $500 down payment. Additionally, they contribute 300 to 500 hours of "sweat equity" on the construction of their home or someone else's home. Because Habitat houses are built using donations of land, material and labor, mortgage payments are kept affordable.
    </div>
  </li>
  <li>
    <div class="myth">
      Myth: Habitat houses reduce a neighborhood’s property values.
    </div>
    <div class="fact">
      <strong>Fact:</strong> Housing studies show affordable housing has no adverse effect on neighborhood property values. In fact, Habitat houses have proven to increase property values and local government tax income.
    </div>
  </li>
  <li>
    <div class="myth">
      Myth: Only African Americans get Habitat for Humanity homes.
    </div>
    <div>
      <strong>Fact:</strong> Habitat builds houses in partnership with those in need regardless of race, religion or any other difference. Prospective homeowners must meet three criteria: need; ability to repay the mortgage; and a willingness to partner with Habitat.
    </div>
  </li>
</ul>

<div class="image pull-right" style="width: 330px; margin-left: 20px">
  <%= image_tag 'about-tresses.jpg', class: 'pull-right img-polaroid' %>
  <div class="caption">
    Our 9th home which was completed in June, 2013.
  </div>
</div>

<ul class="myths">
  <li>
    <div class="myth">
      Myth: Habitat homeowners are on welfare.
    </div>
    <div class="fact">
      <strong>Fact:</strong> While some Habitat homeowners receive Aid to Families with Dependent Children, many more are working people. Typically their annual income is less than half the local median income in their community.
    </div>
  </li>
  <li>
    <div class="myth">
      Myth: You have to be Christian to become a Habitat homeowner.
    </div>
    <div class="fact">
      <strong>Fact:</strong> Habitat homeowners are chosen without regard to race, religion or ethnic group, in keeping with U.S. law and with Habitat's abiding belief that God's love extends to everyone. Habitat also welcomes volunteers from all faiths, or no faith, who actively embrace Habitat's goal of eliminating poverty housing from the world.
    </div>
  </li>
  <li>
    <div class="myth">
      Myth: Habitat for Humanity International dictates policy and practices for every local Habitat organization.
    </div>
    <div class="fact">
      <strong>Fact:</strong> <%= link_to 'Local Habitat affiliates', 'http://www.habitat.org/how/affiliates.aspx' %> are independent, nonprofit organizations that operate within a specific service area within the framework of the Habitat Affiliate Covenant.
    </div>
  </li>
  <li>
    <div class="myth">
      Myth: Habitat for Humanity is an arm of the government.
    </div>
    <div class="fact">
      <strong>Fact:</strong> Habitat for Humanity is not an arm of the government. Habitat is an independent, nonprofit organization that accepts some government funds and other resources to help provide houses for those in need. We accept these funds as long as they do not limit our ability to demonstrate the love and teachings of Jesus Christ. Additionally, our local affiliates insert specific guidelines as needed to avoid becoming dependent on or controlled by government funds.
    </div>
  </li>
  <li>
    <div class="myth">
      Myth: Habitat for Humanity was founded by former U.S. President Jimmy Carter.
    </div>
    <div>
      <strong>Fact:</strong> Habitat was started in 1976 in Americus, Ga., by the late <%= link_to "Millard Fuller", "http://www.habitat.org/how/millard.aspx" %> and his wife <%= link_to "Linda", "http://www.habitat.org/how/linda.aspx" %>. <%= link_to "President Carter", "http://www.habitat.org/how/carter.aspx" %> and his wife Rosalynn (whose home is eight miles from Americus, in Plains, Ga.), have been longtime Habitat supporters and volunteers who help bring national attention to the organization's house-building work. Each year, they lead the <%= link_to "Jimmy Carter Work Project", "http://www.habitat.org/how/default_jcwp.aspx" %> to help build houses and raise awareness of the need for affordable housing.
    </div>
  </li>
</ul>
