<header class="container">
  <h1 class="logo pull-left">
    <a href="/">Habitat for Humanity Powhatan</a>
  </h1>
  <nav>
    <ul class="nav pull-right">
      <li class="active">
        <%= link_to 'Apply', '/apply.html' %>
      </li>
      <li class="active">
        <%= link_to 'Donate', '/donate.html' %>
      </li>
      <li class="active">
        <%= link_to 'Volunteer', '/volunteer.html' %>
      </li>
      <li>
        <%= link_to 'News', '/news.html' %>
      </li>
      <li>
        <%= link_to 'Families', '/families.html' %>
      </li>
      <li>
        <%= link_to 'About', '/about.html' %>
      </li>
      <li>
        <%= link_to 'Contact', '/contact.html' %>
      </li>
    </ul>
  </nav>
</header>
