---
title: Habitat for Humanity - Powhatan
---

<div class="row">

  <div class="span9">
    <div class="rotating-images">
      <div class="rotating-image rotating-image-00">
      </div>
      <div class="rotating-image rotating-image-01">
      </div>
      <div class="rotating-image rotating-image-02">
      </div>
    </div>

    <div class="carousel-actions">
      <div id="action-apply" class="action action-apply active">
        <div class="inside">
          <div class="name">Apply</div>
          <div class="caption">to own a home</div>
        </div>
      </div>
      <div id="action-volunteer" class="action action-volunteer">
        <div class="inside">
          <div class="name">Volunteer</div>
          <div class="caption">to build a home</div>
        </div>
      </div>
      <div id="action-donate" class="action action-donate">
        <div class="inside">
          <div class="name">Donate</div>
          <div class="caption">a gift to Habitat</div>
        </div>
      </div>
    </div>
  </div>

  <div class="span3">
    <div class="call-to-action action-apply">
      <h2>Apply to be a homeowner</h2>

      <p>
        Habitat builds affordable houses for low income families who are willing to help in the construction of their own home.
        Do you have a housing need and a steady income?
      </p>

      <%= link_to 'Apply Now', '/apply.html', class: 'btn btn-success btn-large btn-block' %>
    </div>

    <div class="call-to-action action-volunteer">
      <h2>Volunteer to build a home</h2>

      <p>
        Volunteers provide much of the labor needed to build Habitat houses.
        Are you interested in the rewarding experience of lending your skills to a Habitat project?
      </p>

      <%= link_to 'Volunteer Today', '/volunteer.html', class: 'btn btn-success btn-large btn-block' %>
    </div>

    <div class="call-to-action action-donate">
      <h2>Donate a gift to Habitat</h2>

      <p>
        Habitat relies on donations of land, money and materials to accomplish its mission.
        Are you interested in supporting Habitat with a donation?
      </p>

      <%= link_to 'Donate Now', '/donate.html', class: 'btn btn-success btn-large btn-block' %>
    </div>

    <% link_to '/apply.html', class: 'critical-home-repairs' do %>
      <h3>Critical Repair</h3>

      <p>
        We perform critical home repairs for homeowners in need. Do you qualify?
      </p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="news-headlines span6">
    <h3>News</h3>

    <ul>
      <% page_articles.each do |article| %>
        <%= partial :news_item, locals: {
            article: article,
            title: article.title,
            author: article.data.author,
            date: article.date
          }
         %>
      <% end %>
    </ul>
  </div>

  <div class="homeowner-spotlight span6">
    <h3>Homeowner Spotlight</h3>

    <% link_to('/families.html') do %>
      <div class="image">
        <%= image_tag 'spotlight-southard.jpg', class: 'img-polaroid' %>
      </div>
      <p>
        Read About The Southard Family's Story
      </p>
    <% end %>
  </div>
</div>

<script>
var photoPosition = 1;
var rotationInterval = 4500;
var photosPerAction = 3;

$(document).ready(function () {
  initializeCarousel();
});

function log(msg) {
  console.log(msg);
}

function initializeCarousel() {
  var carouselActions = $('.carousel-actions .action');
  preloadImages();
  loadActionPhotos('apply');
  setTimeout(rotatePhoto, rotationInterval);

  carouselActions.click(function() {
    carouselActions.removeClass('active');
    $(this).addClass('active');
    var selectedAction = $(this).attr('id').split('-')[1];
    loadActionPhotos(selectedAction);
    $('.call-to-action').hide();
    $('.call-to-action.action-' + selectedAction).show();
  });
}

function loadActionPhotos(action) {
  for (i = 0; i < 3; i++) {
    $('.rotating-image-0' + i).css(
      'background-image', 'url("images/carousel-' +
        action + '-0' + i + '.jpg")'
    );
  }
}

function rotatePhoto() {
  var newPhoto = $('.rotating-image-0' + photoPosition);
  var oldPhoto = $('.rotating-image-0' + previousPosition(photoPosition));

  newPhoto.css('z-index', 1);
  oldPhoto.css('z-index', 2);
  newPhoto.show();
  oldPhoto.fadeOut(1500);

  photoPosition = nextPosition(photoPosition);
  setTimeout(rotatePhoto, rotationInterval);
}

function preloadImages() {
  var preloadedImages = new Array();
  for (i = 0; i < 3; i++) {
    preloadedImages[i] = new Image();
    preloadedImages[i].src = 'images/carousel-apply-0' + i + '.jpg';

    preloadedImages[i + 3] = new Image();
    preloadedImages[i + 3].src = 'images/carousel-donate-0' + i + '.jpg';

    preloadedImages[i + 6] = new Image();
    preloadedImages[i + 6].src = 'images/carousel-volunteer-0' + i + '.jpg';
  }
}

function nextPosition(position) {
  return (position >= (photosPerAction - 1)) ? 0 : position + 1;
}

function previousPosition(position) {
  return (position == 0) ? photosPerAction - 1 : position - 1;
}
</script>
