---
title: Habitat for Humanity - Powhatan
---

<div class="row">

  <div class="span9">
    <div class="rotating-images">
      <div class="rotating-image rotating-image-00">
      </div>
      <div class="rotating-image rotating-image-01">
      </div>
      <div class="rotating-image rotating-image-02">
      </div>
    </div>

    <div class="carousel-actions">
      <div id="action-apply" class="action action-apply active">
        <div class="inside">
          <div class="name">Apply</div>
          <div class="caption">to own a home</div>
        </div>
      </div>
      <div id="action-volunteer" class="action action-volunteer">
        <div class="inside">
          <div class="name">Volunteer</div>
          <div class="caption">to build a home</div>
        </div>
      </div>
      <div id="action-donate" class="action action-donate">
        <div class="inside">
          <div class="name">Donate</div>
          <div class="caption">a gift to Habitat</div>
        </div>
      </div>
    </div>
  </div>

  <div class="call-to-action action-apply span3">
    <h2>Apply to be a homeowner</h2>

    <p>
      We build houses with private donations and volunteer labor. Do you have a housing need and have a steady income?
    </p>

    <%= link_to 'Apply Now', '/apply.html', class: 'btn btn-primary btn-large btn-block' %>
  </div>

  <div class="call-to-action action-volunteer span3">
    <h2>Volunteer to build a home</h2>

    <p>
      Volunteers provide most of the labor to build Habitat houses. Interested in lending your skills or learning how to build a home?
    </p>

    <%= link_to 'Volunteer Today', '/volunteer.html', class: 'btn btn-primary btn-large' %>
  </div>

  <div class="call-to-action action-donate span3">
    <h2>Donate your tax-deductible gift</h2>

    <p>
      Not handy with tools? One of the best ways to get involved is by making a monetary contribution.
    </p>

    <%= link_to 'Donate Now', '/donate.html', class: 'btn btn-primary btn-large' %>
  </div>
</div>

<div class="row">
  <div class="news-headlines span6">
    <h3>News</h3>

    <ul>
      <li>
        <% link_to '/news.html', class: 'news-thumbnail' do %>
          <%= image_tag 'news-thumbnails/2013-04-09-screaming-eagles.jpg' %>
        <% end %>
        <div class="details">
          <h4>
            <%= link_to 'SCREAMING EAGLES RAISE OVER $6000 FOR HABITAT POWHATAN', '/news.html' %>
          </h4>
          <div class="byline">
            <span class="author">Ken Cox</span>
            &middot;
            <span class="date">April 13, 2013</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="homeowner-spotlight span6">
    <h3>Homeowner Spotlight</h3>

    <div class="image">
      <%= image_tag 'spotlight-nicely.jpg', class: 'img-polaroid' %>
    </div>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
</div>

<script>
var photoPosition = 1;
var rotationInterval = 3000;
var photosPerAction = 3;

$(document).ready(function () {
  initializeCarousel();
});

function log(msg) {
  console.log(msg);
}

function initializeCarousel() {
  var carouselActions = $('.carousel-actions .action');
  preloadImages();
  loadActionPhotos('apply');
  setTimeout(rotatePhoto, rotationInterval);

  carouselActions.click(function() {
    carouselActions.removeClass('active');
    $(this).addClass('active');
    var selectedAction = $(this).attr('id').split('-')[1];
    loadActionPhotos(selectedAction);
    $('.call-to-action').hide();
    $('.call-to-action.action-' + selectedAction).show();
  });
}

function loadActionPhotos(action) {
  for (i = 0; i < 3; i++) {
    $('.rotating-image-0' + i).css(
      'background-image', 'url("images/carousel-' +
        action + '-0' + i + '.jpg")'
    );
  }
}

function rotatePhoto() {
  var newPhoto = $('.rotating-image-0' + photoPosition);
  var oldPhoto = $('.rotating-image-0' + previousPosition(photoPosition));

  newPhoto.css('z-index', 1);
  oldPhoto.css('z-index', 2);
  newPhoto.show();
  oldPhoto.fadeOut(1500);

  photoPosition = nextPosition(photoPosition);
  setTimeout(rotatePhoto, rotationInterval);
}

function preloadImages() {
  var preloadedImages = new Array();
  for (i = 0; i < 3; i++) {
    preloadedImages[i] = new Image();
    preloadedImages[i].src = 'images/carousel-apply-0' + i + '.jpg';

    preloadedImages[i + 3] = new Image();
    preloadedImages[i + 3].src = 'images/carousel-donate-0' + i + '.jpg';

    preloadedImages[i + 6] = new Image();
    preloadedImages[i + 6].src = 'images/carousel-volunteer-0' + i + '.jpg';
  }
}

function nextPosition(position) {
  return (position >= (photosPerAction - 1)) ? 0 : position + 1;
}

function previousPosition(position) {
  return (position == 0) ? photosPerAction - 1 : position - 1;
}
</script>
